* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-x: hidden;
    text-decoration: none;
   


}

.home_header {
    width: 100vw;
    height: 100vh;
    background-image: url("resource/Homepage/Test.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header-Topic2 {
    margin-bottom: 150px;
    margin-top: 160px;
    margin-left: 130px;
    padding: 8vmin;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-shadow: 5px 6px 0px rgba(0, 0, 0, 0.7);
}

.header-Topic2 h1 {
    font-size: 14vmin;
}

.header-Topic2 h2 {
    font-size: 5vmin;
    padding: 10px;
}

.hg2 {
    text-align: left;
    padding-right: 16px;
    border-left: 10px solid #f68f78;
}


.home_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 2.6vh;
    display: flex;
    justify-content: center;
    padding: 30px;
    color: rgb(248, 248, 250);
    font-weight: bold;
    overflow-y: hidden;
    
}

.logo-img {
    position: absolute;
    left: 30px; 
    top: 50%;
    transform: translateY(-50%); 
    height: 40px; 
    width: 120px;
    height: 120px;
    
   
}

.mynav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    
    
}

.mynav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    margin: 0 34px auto;
}


.about-content{
    
    width: 80%;
    margin: 100px auto;

}


.row {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 20px; 
    width: 100%; 
}

.col {
    flex-basis: 45%; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.row .col {

    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.gif_img{
    max-width: 100%;
    border-radius: 3%;
    height: auto;
    margin-bottom: 10px;
}

.Title {
    margin-top: 165px;
    text-align: center;
    font-size: 4vmin;
    color: rgb(222, 147, 252);
}


.Container {

    margin-top: 90px;
    border-radius:250px;
    background-color: #ffffff;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60vh; 
    padding: 20px;
}

article img{

    width: 100%;
    height: 100%;
    object-fit: cover; /* ครอบภาพให้เต็มพื้นที่โดยรักษาสัดส่วน */

}

.Member_img {
    
    width: 45vh; 
    height: 45vh;
    border-radius: 50%; 
    object-fit: cover; 

}


.about-content h4 {

    font-size: 3vmin;
    color: #91449b;
    margin: 6px auto;
    font-family: sans-serif;


}

.about-content p {

    color: #816280;
    padding: 5px 5px;
    font-size: 2.5vmin;
    font-family: sans-serif;
    text-align: center;
    overflow-wrap: break-word;
    margin-top: 10px;
    line-height: 1.5;
}

main{
    background-color: #f0e0f0;
}

.Container h1{
    font-size: 3.65vmin;
    color: #91449b;
    margin: 6px auto;
    font-family: sans-serif;
}


.Container p{

    color: #816280;
    padding: 5px 5px;
    font-size: 3vmin;
    font-family: sans-serif;
    text-align: center;
    overflow-wrap: break-word;
    margin-top: 10px;
    line-height: 1.5;

}


.card1 {

    width: 500px;
    height: 430px;
    border: px solid #ccc;
    border-radius: 100px;
    margin: 10px;
    padding: 10px;
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: #fafafa;
    box-shadow: 10px 7px 6px rgba(0, 0, 0, 0.1);

}

.myicon{
margin: 30px;
display: flex;
justify-content: space-around;
align-items: center

}

.icon_img {
    
    width: 7vh; 
    height: 7vh;
   
   
}

.icon_img2 {
    
    width: 10vh; 
    height: 10vh;
 
   
}

.line1{
    margin: 30px;
    border: none;
    border-top: 0.6vmin dashed #bc90f0;
    height: 0;
    margin: 20px 0;
}

/*=========================================================================================================*/
/*ARTICLE and SECTION(GuestBook): please don't delete all of them.*/

legend{
    
    font-size: 2.5vh;
}

article{
    font-family: sans-serif;
    
}
section{
    margin-top: -70px;
    font-family: sans-serif;
    padding: 10%;
}
section form{
    margin: 0;
    padding: 0;
    border-radius: 20px;
    background-color:#de83b4;
    box-shadow: 0px 5px 5px rgb(218, 168, 192);
}
section form fieldset{
    padding: 5%;
    border-radius: 20px;
    border-color: rgb(212, 144, 227) #d16e9c rgb(139, 63, 146);
    background-color: #ffeefd;
    border-style: dashed; 
    color:#c44e8f;
    background-image: url('resource/Homepage/BgForGuestBook.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section form fieldset legend{
    background-color: #de83b4;
    padding: 10px;
    border-radius: 20px;
    color:#ffeefd;
    border-bottom: #ffeefd;
    border-style: solid;
    border-top: none;
}
#name{
    color: #de83b4;
    border-radius: 10px;
    border-color: #c44e8f;
    border-style: hidden;
    padding: 5px;
    width: 100%;
    max-width: 50%;
    padding: 8px;
    box-sizing: border-box;
}
#name::placeholder{
    color:#e2bfd2;
}
#email{
    color: #de83b4;
    border-radius: 10px;
    border-color: #c44e8f;
    border-style: hidden;
    padding: 5px;
    width: 100%;
    max-width: 50%;
    padding: 8px;
    box-sizing: border-box;
}
#email::placeholder{
    color:#e2bfd2;
}
.RateUs {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.rating {
    font-size: 25px;
    transition: color 0.3s ease, transform 0.2s ease;
    color: #c44e8f;
}
.rating:hover{
    transform: scale(1.2);
}
.rating::after, .rating:hover ~ .rating{
   content: ❀;
    color: #ccc; 
}
/*for js: Rate us!*/
.one {
    color: #c44e8f;
}
    
.two {
    color: #c44e8f;
}
    
.three {
    color: #c44e8f;
}
    
.four {
    color: #c44e8f;
}
    
.five {
    color: #c44e8f;
}

#emoji{
    padding: 5px;
}

#comment{
    color: #de83b4;
    border-radius: 10px;
    border-color: #c44e8f;
    border-style: hidden;
    padding: 5px;
    width: 100%;
    max-width: 50%;
    padding: 8px;
    box-sizing: border-box;
}
#comment::placeholder{
    color:#e2bfd2;
}
#summit{
    background-color:#de83b4;
    border-style: hidden;
    border-radius: 10px;
    padding: 5px;
    color: #ffeefd;
    font-size: 15px;
}
#summit:hover{
    cursor: pointer;
}
#summit:focus{
    background-color: #ffeefd;
    color: #de83b4;
    border-radius: 10px;
    border-style: solid;
    border-color: #de83b4;
}
/*=========================================================================================================*/

footer{
    
   
}

.footer1 {

    background-image: url("resource/Homepage/BACKGROUND.jpg");
    padding: 20px;
}


.myfooter {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    flex: 1;
    margin-right: 0px;
    text-align: center;
    font-family: sans-serif;
}

.footer-content h4 {
    margin-bottom: 20px;
    font-size: 3vmin;

}

.footer-content ul li {
    margin-bottom: 20px;
   
}

.footerhead {
    color: rgb(255, 255, 255);  
}

.footerlink {
    margin: 15px;
    color: rgb(255, 255, 255);
}